@page
@model PiePizza3.Pages.Admin.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Pie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pie.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.LongDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.LongDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.IsPieOfTheWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.IsPieOfTheWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.Image)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.Image)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.ImageContentType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.ImageContentType)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Pie.Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
