@page
@model PiePizza3.Pages.Admin.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pie.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.ShortDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.ShortDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.LongDescription)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.LongDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.IsPieOfTheWeek)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pie.IsPieOfTheWeek)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Pie.Image)
        </dt>
        
        <dd>
           <img src="@Model.Pie.GetInlineImageSrc()" class="img-thumbnail"/>
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pie.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
